* {
    box-sizing: border-box;
}

body {
        margin: 0;
        /* font-family: Inter, sans-serif; */
        height: 100vh;
        background-color: #282D35;
    }

.container{
display: block;
align-items: center;
margin-left: 420px;
background-color:black;
color: white;
width: 500px;
}

.content{
width: 300px;
margin-left: 125px;
align-items: center;
}

.content>h4{
margin-left: 50px;
}

.click{
    width: 500px;
    height: 500px;
}

.image{
    /* display: flexbox; */
    padding: 3px
}

.icons{
display: flexbox;
padding: 10px;
}

#icon{
    margin-left: 140px;
}